div{
    text-align: center;
}
body{
  font-family: 'Courier New', Courier, monospace;
}
:root {
    --bg-light: #ffffff;
    --bg-medium: #f3f3f3;
    --bg-dark: #dddddd;
  
    --bg-white-light: #ffffff;
    --bg-white-medium: #f3f3f3;
    --bg-white-dark: #dddddd;
    --bg-pink-light: #f9a5dd;
  
    --bg-black-light: #353535;
    --bg-black-medium: #272727;
    --bg-black-dark: #131313;
  
    --text-color: #000000;
    --text-white: #ffffff;
    --text-black: #000000;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  a {
    text-decoration: none;
    color: #ffffff;
  }
  
  body {
    background-color: var(--bg-light);
    color: var(--text-color);
    font-family: sans-serif;
  }
  
  nav {
    background-color: var(--bg-pink-light);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 20px;
  }
  
  #theme-button {
    cursor: pointer;
    background-color: var(--bg-dark);
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  
  #theme-button ion-icon {
    margin-left: 10px;
  }
  
  main {
    width: 65%;
    margin: 100px auto 50px auto;
  }
  
  main img {
    display: block;
    margin: 30px auto;
    border-radius: 10px;
    width: 100%;
  }
  
  main h1 {
    display: block;
    width: max-content;
    font-size: 45px;
    padding: 0 20px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 60px;
    background-image: linear-gradient(
      to bottom,
      transparent 0%,
      transparent 65%,
      #00c3ff 65%,
      #00c3ff 90%,
      transparent 90%
    );
  }
  
  main p {
    line-height: 1.5;
    text-align: justify;
  }
  
  .wrapper {
    background-color: var(--bg-medium);
    padding: 30px;
    border-radius: 10px;
    max-width: 1000px;
    margin: 0 auto;
  }
  
  footer {
    background-color: var(--bg-dark);
    padding: 30px 60px;
    text-align: center;
    margin-top: 100px;
  }
  /*product card container*/
.main{
  
  position: relative;
  top:-90px;
  right: -300px;
  /* background-color: rgb(196, 240, 240); */
  /* filter: blur(8px); */
  
}
.productBackgraound{
  background-color: rgba(213, 247, 247,0.4);
}
.card-product-container{
  padding: 20px;
  display: flex;
  justify-content: space-between;

}
.card-product{
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 310px;
  box-shadow: -10px -0px 20px rgba(196, 240, 240,0.5),
  50px 50px 20px rgba(196, 240, 240,0.5);
  padding: 10px;
}
.card-product h2{
  margin: 0;
  padding: 10px;
  
}

.card-product-nested-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;


}
.card-nested p{
  margin: 5px;
}
.card-nested img {
  width: 128px;
  height: 102px;
  object-fit: cover;

}
.card-product-btn{
  font-size: 14px;
  align-self: flex-start;
  margin: 7px 10px; 
  padding-left: 0;
  background-color: transparent;
  border:none;
  color:rgb(25, 105, 105)
}
.card-product-btn:hover{
  text-decoration: underline;
  cursor: pointer;
}